#%RAML 1.0
---

title: Customs Declarations
version: 2.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/xml

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

documentation:
  - title: Overview
    content: !include docs/overview.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing
    content: !include docs/testing.md
  - title: XML Schemas
    content: !include docs/schema.md

/customs/declarations:
  /:
    post:
      displayName: Submit a Customs Declaration
      description: Allows submission of a Customs Declaration.
      headers:
        Accept:
          description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
          type: string
          required: true
          example: application/vnd.hmrc.2.0+xml
        Content-Type:
          description: Specifies the format of the request body, which must be XML. UTF-8 is the only valid character set.
          type: string
          required: true
          example: application/xml; charset=UTF-8
        X-Badge-Identifier:
          description: |
            Represents the end-user who is interacting with the subscribed application.

            CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

            Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
          type: string
          required: false
          example: ABC123
        X-Submitter-Identifier:
          description: |
            The EORI associated with the originating owner of the declaration.

            CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

            Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
          type: string
          required: false
          example: GB123456789000
      (annotations.scope): "write:customs-declaration"
      securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declaration" ] } ]
      body:
        application/xml:
          type: !include schemas/customs/wrapper_submit.xsd
          example: !include examples/example_messages/Trade%20Test%2012.0%20Sample%20Messages/TT_EX01a/TT_EX01a_V1.3.xml
      responses:
        202:
        400:
          body:
            application/xml:
              description: Invalid XML Payload
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>BAD_REQUEST</code>
                      <message>Payload is not valid according to schema</message>
                      <errors>
                          <error>
                              <code>xml_validation_error</code>
                              <message>Error at line 13, column 13: no declaration found for element 'unknown'</message>
                          </error>
                      </errors>
                  </errorResponse>
        500:
          body:
            application/xml:
              description: Internal server error
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>INTERNAL_SERVER_ERROR</code>
                      <message>Internal server error</message>
                  </errorResponse>

  /cancellation-requests:
      post:
        displayName: Submit a cancellation request
        description: Allows submission of a cancellation request.
        headers:
          Accept:
            description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
            type: string
            required: true
            example: application/vnd.hmrc.2.0+xml
          Content-Type:
            description: Specifies the format of the request body, which must be XML. UTF-8 is the only valid character set.
            type: string
            required: true
            example: application/xml; charset=UTF-8
          X-Badge-Identifier:
            description: |
              Represents the end-user who is interacting with the subscribed application.

              CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

              Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
            type: string
            required: false
            example: ABC123
          X-Submitter-Identifier:
            description: |
              The EORI associated with the originating owner of the declaration.

              CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

              Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
            type: string
            required: false
            example: GB123456789000
        (annotations.scope): "write:customs-declaration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declaration" ] } ]
        body:
          application/xml:
            type: !include schemas/customs/wrapper_cancel.xsd
            example: !include examples/example_messages/Trade%20Test%2012.0%20Sample%20Messages/TT_IM10b/TT_IM10b_Cancellation_V1.1.xml
        responses:
          202:
          400:
            body:
              application/xml:
                description: Invalid XML Payload
                type: !include schemas/customs/error.xsd
                example: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <errorResponse>
                        <code>BAD_REQUEST</code>
                        <message>Payload is not valid according to schema</message>
                        <errors>
                            <error>
                                <code>xml_validation_error</code>
                                <message>Error at line 13, column 13: no declaration found for element 'unknown'</message>
                            </error>
                        </errors>
                    </errorResponse>
          500:
            body:
              application/xml:
                description: Internal server error
                type: !include schemas/customs/error.xsd
                example: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <errorResponse>
                        <code>INTERNAL_SERVER_ERROR</code>
                        <message>Internal server error</message>
                    </errorResponse>

  /file-upload:
      post:
        displayName: Submit an upload initiate request
        description: | 
          Obtain a signed URL to upload files to.
          
          The SuccessRedirect and ErrorRedirect fields are optional.
          
          If you provide them when you POST your file, then the response will be an automatic redirect. 
          
          If you do not require these redirects for your application, then do not provide these redirect fields.
          
          ### File upload workflow
          Once you receive a successful response from this endpoint, use the information in the response to POST your file to the URL provided.
          
          You must use multipart encoding (multipart/form-data) NOT application/x-www-form-urlencoded.
          
          The 'file' field must be the last field in the submitted form.

        headers:
          Accept:
            description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
            type: string
            required: true
            example: application/vnd.hmrc.2.0+xml
          Content-Type:
            description: Specifies the format of the request body, which must be XML. UTF-8 is the only valid character set.
            type: string
            required: true
            example: application/xml; charset=UTF-8
          X-Badge-Identifier:
            description: |
              Required only for submissions via CSPs.

              Represents the end-user who is interacting with the subscribed application.

              Must be numeric or upper case letters with a minimum length of 6 and a maximum length of 12.
            type: string
            required: false
            example: ABC123
          X-Eori-Identifier:
            description: |
              The EORI associated with the originating owner of the declaration.

              CSPs must have an X-Badge-Identifier or X-Eori-Identifier.

              Must be numbers and letters with a maximum length of 17 characters.
            type: string
            required: false
            example: GB123456789000
        (annotations.scope): "write:customs-declaration"
        securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declaration" ] } ]
        body:
          application/xml:
            type: !include schemas/wco/fileupload/FileUploadRequest.xsd
            example: !include examples/example_file_upload_202.xml
        responses:
          200:
            body:
              application/xml:
                description: Successful response payload
                type: !include schemas/wco/fileupload/FileUploadResponse.xsd
                example: !include examples/FileUploadResponseExample.xml
          400:
            body:
              application/xml:
                description: Invalid XML Payload
                type: !include schemas/customs/error.xsd
                example: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <errorResponse>
                        <code>BAD_REQUEST</code>
                        <message>Payload is not valid according to schema</message>
                        <errors>
                            <error>
                                <code>xml_validation_error</code>
                                <message>Error at line 13, column 13: no declaration found for element 'unknown'</message>
                            </error>
                        </errors>
                    </errorResponse>
          500:
            body:
              application/xml:
                description: Internal server error
                type: !include schemas/customs/error.xsd
                example: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <errorResponse>
                        <code>INTERNAL_SERVER_ERROR</code>
                        <message>Internal server error</message>
                    </errorResponse>

  /amend:
    post:
      displayName: Submit a Customs Amend Declaration
      description: Allows submission of a Customs Amend Declaration.
      headers:
        Accept:
          description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
          type: string
          required: true
          example: application/vnd.hmrc.2.0+xml
        Content-Type:
          description: Specifies the format of the request body, which must be XML. UTF-8 is the only valid character set.
          type: string
          required: true
          example: application/xml; charset=UTF-8
        X-Badge-Identifier:
          description: |
            Represents the end-user who is interacting with the subscribed application.

            CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

            Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
          type: string
          required: false
          example: ABC123
        X-Submitter-Identifier:
          description: |
            The EORI associated with the originating owner of the declaration.

            CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

            Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
          type: string
          required: false
          example: GB123456789000
      (annotations.scope): "write:customs-declaration"
      securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declaration" ] } ]
      body:
        application/xml:
          type: !include schemas/customs/wrapper_submit.xsd
          example: !include examples/example_messages/Trade%20Test%2012.0%20Sample%20Messages/TT_IM02b/TT_IM02b_Amendment_V1.2.xml
      responses:
        202:
        400:
          body:
            application/xml:
              description: Invalid XML Payload
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>BAD_REQUEST</code>
                      <message>Payload is not valid according to schema</message>
                      <errors>
                          <error>
                              <code>xml_validation_error</code>
                              <message>Error at line 13, column 13: no declaration found for element 'unknown'</message>
                          </error>
                      </errors>
                  </errorResponse>
        500:
          body:
            application/xml:
              description: Internal server error
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>INTERNAL_SERVER_ERROR</code>
                      <message>Internal server error</message>
                  </errorResponse>

  /arrival-notification:
    post:
      displayName: Submit an Arrival Notification Declaration
      description: Allows submission of a Customs Arrival Notification Declaration.
      headers:
        Accept:
          description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
          type: string
          required: true
          example: application/vnd.hmrc.2.0+xml
        Content-Type:
          description: Specifies the format of the request body, which must be XML. UTF-8 is the only valid character set.
          type: string
          required: true
          example: application/xml; charset=UTF-8
        X-Badge-Identifier:
          description: |
            Represents the end-user who is interacting with the subscribed application.

            CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

            Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
          type: string
          required: false
          example: ABC123
        X-Submitter-Identifier:
          description: |
            The EORI associated with the originating owner of the declaration.

            CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

            Must have a maximum length of 17 characters, consisting of any combination of numeric digits and/or letters.
          type: string
          required: false
          example: GB123456789000
      (annotations.scope): "write:customs-declaration"
      securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declaration" ] } ]
      body:
        application/xml:
          type: !include schemas/customs/wrapper_submit.xsd
          example: !include examples/example_messages/Trade%20Test%2012.0%20Sample%20Messages/TT_IM10a/Example%20Movement%20Messages/GPN.xml
      responses:
        202:
        400:
          body:
            application/xml:
              description: Invalid XML Payload
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>BAD_REQUEST</code>
                      <message>Payload is not valid according to schema</message>
                      <errors>
                          <error>
                              <code>xml_validation_error</code>
                              <message>Error at line 13, column 13: no declaration found for element 'unknown'</message>
                          </error>
                      </errors>
                  </errorResponse>
        500:
          body:
            application/xml:
              description: Internal server error
              type: !include schemas/customs/error.xsd
              example: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <errorResponse>
                      <code>INTERNAL_SERVER_ERROR</code>
                      <message>Internal server error</message>
                  </errorResponse>

  /status-request:
    /mrn:
      /{mrn}:
        uriParameters:
          mrn:
            description: Movement Reference Number
            type: string
            example: "19GBL4592NCOI21NR9"
        get:
          displayName: Get the status of a declaration (deprecated)
          description: |
            *This endpoint has been deprecated. It is still functional but it will be removed in a future release.*


            *Use the [Customs Declarations Information API](/api-documentation/docs/api/service/customs-declarations-information) instead.*



            Get the status of a declaration with the given MRN. This endpoint is only available to CSP users.
          headers:
            Accept:
              description: Specifies the version of the API that you want to call. See [versioning](/api-documentation/docs/reference-guide#versioning).
              type: string
              required: true
              example: application/vnd.hmrc.2.0+xml
            X-Badge-Identifier:
              description: |
                Represents the end-user who is interacting with the subscribed application.

                CSPs must have an X-Badge-Identifier or X-Submitter-Identifier.

                Must be 6 to 12 characters, consisting of any combination of numeric digits and/or upper-case letters.
              type: string
              required: true
              example: ABC123
          (annotations.scope): "write:customs-declaration"
          securedBy: [ sec.oauth_2_0: { scopes: [ "write:customs-declaration" ] } ]
          responses:
            200:
              body:
                application/xml:
                  description: Successful response payload
                  type: !include schemas/wco/declaration/declarationInformationRetrievalStatusResponse.xsd
                  example: !include examples/DeclarationStatusResponseExample.xml
            500:
              body:
                application/xml:
                  description: Internal server error
                  type: !include schemas/customs/error.xsd
                  example: |
                      <?xml version="1.0" encoding="UTF-8"?>
                      <errorResponse>
                          <code>INTERNAL_SERVER_ERROR</code>
                          <message>Internal server error</message>
                      </errorResponse>
